<link href="/CSS/home.css" rel="stylesheet"/>


<footer class="footer">
    <div  class="footerMenu">
      <ul>
        <li><a href="https://maharashtra.nic.in/website-policies/" target="_blank">Website Policies</a></li>
        <li><a href="https://maharashtra.nic.in/contact-us/" target="_blank">Contact Us</a></li>
        <li><a href="https://maharashtra.nic.in/help/" target="_blank">Help</a></li>
        </ul>
    </div>
    <div class="copyRightsText">
        <p>© National Informatics Centre, Maharashtra State Centre, Developed and hosted by</p>
        <a href="http://www.nic.in/" target="_blank" onclick="return confirm('You are being redirected to an external website.');" aria-label="National Informatics Centre
        - External site that opens in a new window" title="National Informatics Centre - External site that opens in a new window">National Informatics Centre,</a>
        <br>
        <a href="http://meity.gov.in/" target="_blank" onclick="return confirm('You are being redirected to an external website.');"
        aria-label="Ministry of Electronics &amp; Information Technology - External site that opens in a new window" title="Ministry of Electronics &amp;
        Information Technology - External site that opens in a new window">Ministry of Electronics &amp; Information Technology,</a><br>Government of India
    </div>
   
</footer>
<script type="text/javascript">
      $(document).ready( function () {
          $(".faq-question").click( function () {
              $(this).next().slideToggle();
          });
      });
</script>
 
  