
<!DOCTYPE html>
<html>
  <head>
      <%- include ('../partials/links') -%>
   
      <title>Confirmation</title>
      
  </head>
<body style="text-align: center;">
  <%- include ('../partials/header') -%>
<h1><%= title %>: <a href="/">Click Here</a></h1>
</body>

<%- include ('../partials/footer') -%>

</html>