<html>
    <head>
        <link rel="stylesheet" href="/CSS/print.css">
    </head>
    <body>
        <div class="center">
            <h1>Government</h1>
        <p>lorem</p>
        </div>
        <div class="left">
            <p>ABCD</p>
        </div>
        <div id='main'>
            <table id="myTable" cellspacing='0'>
                <tr><th>Date</th>
                    <th>Month</th>
                    <th>Financial Year</th>
                    <th>Receipt Amount</th>
                    <th>Expenditure</th>
                </tr>
                <tr>
                    <td>abc</td>
                    <td>Montd</td>
                    <td>cial Year</td>
                    <td>ac</td>
                    <td>Exp</td>
                </tr>
                <tr>
                    <td colspan="3">abc</td>
                    <td colspan="3">Montd</td>
                </tr>
            </table>
        </div>
        
    </body>
</html>